validation_classes/.ipynb_checkpoints/*
validation_classes/__pycache__
governance/.ipynb_checkpoints/*
logsheets/.ipynb_checkpoints/*
transformed/.ipynb_checkpoints/*
validation_errors_github/*
.ipynb_checkpoints/*
*.swp
