validation_classes/.ipynb_checkpoints/*
validation_classes/__pycache__
governance/.ipynb_checkpoints/*
logsheets/.ipynb_checkpoints/*
transformed/.ipynb_checkpoints/*
validation_errors_github/*
.ipynb_checkpoints/*
.mypy_cache
.venv
poetry.lock
emo-bon-data-validation.code-workspace
*.swp
.vscode
.pre-commit-config.yaml
